<div ng-controller="MyCtrl5" >

    <focus-group-manager data-managed-group="0">

        <div class="row">
            <div id="1" class="span3 well" focus-group="0">
                <input id="1.1">
                <input id="1.2">
            </div>
            <div id="2" class="span3 well" focus-group="0">
                <input id="2.1">
                <input id="2.2">
            </div>
            <div id="3" class="span3 well" focus-group="0">
                <input id="3.1">
                <input id="3.2">
            </div>
        </div>

        <div class="row">
            <div id="6" class="span3 well" focus-group="0">
                <input id="6.1">
                <input id="6.2">
            </div>
            <div id="7" class="span3 well" focus-group="0">
                <input id="7.1">
                <input id="7.2">
            </div>
            <div id="8" class="span3 well" focus-group="0">
                <input id="8.1">
                <input id="8.2">
            </div>
        </div>

    </focus-group-manager>


    <focus-group-manager data-managed-group="1">

        <div class="row">
            <div id="21" class="span3 well" focus-group="1">
                <input id=21.1>
                <input id=21.2>
            </div>
            <div id="22" class="span3 well" focus-group="1">
                <input id=22.1>
                <input id=22.2>
            </div>
            <div id="23" class="span3 well" focus-group="1">
                <input id=23.1>
                <input id=23.2>
            </div>
        </div>

        <div class="row">
            <div id="24" class="span3 well" focus-group="1">
                <input id=24.1>
                <input id=24.2>
            </div>
            <div id="25" class="span3 well" focus-group="1">
                <input id=25.1>
                <input id=25.2>
            </div>
            <div id="26" class="span3 well" focus-group="1">
                <input id=26.1>
                <input id=26.2>
            </div>
        </div>

    </focus-group-manager>

</div>
