<div ng-controller="MyCtrl5" >

    <focus-group-manager data-managed-group="0">

        <div class="row">
            <div id="1" class="span2 well" focus-group="0">1</div>
            <div id="2" class="span2 well" focus-group="0">2</div>
            <div id="3" class="span2 well" focus-group="0">3</div>
            <div id="4" class="span2 well" focus-group="0">4</div>
            <div id="5" class="span2 well" focus-group="0">5</div>
        </div>

        <div class="row">
            <div id="6" class="span2 well" focus-group="0">1</div>
            <div id="7" class="span2 well" focus-group="0">2</div>
            <div id="8" class="span2 well" focus-group="0">3</div>
            <div id="9" class="span2 well" focus-group="0">4</div>
            <div id="10" class="span2 well" focus-group="0">5</div>
        </div>

        <div class="row">
            <div id="11" class="span2 well" focus-group="0">1</div>
            <div id="12" class="span2 well" focus-group="0">2</div>
            <div id="13" class="span2 well" focus-group="0">3</div>
            <div id="14" class="span2 well" focus-group="0">4</div>
            <div id="15" class="span2 well" focus-group="0">5</div>
        </div>

    </focus-group-manager>


    <focus-group-manager data-managed-group="1">

        <div class="row">
            <div id="21" class="span2 well" focus-group="1">1</div>
            <div id="22" class="span2 well" focus-group="1">2</div>
            <div id="23" class="span2 well" focus-group="1">3</div>
            <div id="24" class="span2 well" focus-group="1">4</div>
            <div id="25" class="span2 well" focus-group="1">5</div>
        </div>

        <div class="row">
            <div id="26" class="span2 well" focus-group="1">1</div>
            <div id="27" class="span2 well" focus-group="1">2</div>
            <div id="28" class="span2 well" focus-group="1">3</div>
            <div id="29" class="span2 well" focus-group="1">4</div>
            <div id="210" class="span2 well" focus-group="1">5</div>
        </div>

        <div class="row">
            <div id="211" class="span2 well" focus-group="1">1</div>
            <div id="212" class="span2 well" focus-group="1">2</div>
            <div id="213" class="span2 well" focus-group="1">3</div>
            <div id="214" class="span2 well" focus-group="1">4</div>
            <div id="215" class="span2 well" focus-group="1">5</div>
        </div>

    </focus-group-manager>

</div>
