<div ng-controller="MyCtrl5" >

    <focus-group-manager data-managed-group="1"></focus-group-manager>

    <input id="focusHolder" style="display: none;">

    <div class="row">
        <div id="1" class="span2 well" focus-group="1">1</div>
        <div id="2" class="span2 well" focus-group="1">2</div>
        <div id="3" class="span2 well" focus-group="1">3</div>
        <div id="4" class="span2 well" focus-group="1">4</div>
        <div id="5" class="span2 well" focus-group="1">5</div>
    </div>

    <div class="row">
        <div id="6" class="span2 well">1</div>
        <div id="7" class="span2 well">2</div>
        <div id="8" class="span2 well">3</div>
        <div id="9" class="span2 well">4</div>
        <div id="10" class="span2 well">5</div>
    </div>

    <div class="row">
        <div id="11" class="span2 well">1</div>
        <div id="12" class="span2 well">2</div>
        <div id="13" class="span2 well">3</div>
        <div id="14" class="span2 well">4</div>
        <div id="15" class="span2 well">5</div>
    </div>


</div>
