<div>

    <div class="accordion" id="accordion2" ng-controller="AccordianController">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Collapsible Group Item #1
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner pull-left">
                        <label>Dropdown that has items bad spot</label>
                        <editable-dropdown
                                items="values"></editable-dropdown>

                    <!--<div>-->
                        <!--text-->
                    <!--</div>-->

                    <!--<div class="btn-group">-->
                    <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
                        <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li ng-repeat="item in values">-->
                            <!--<a ng-click="onClickItem(item)">{{ item }}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>

            </div>
        </div>
    </div>
</div>